{% extends "admin/change_list.html" %}
{% load static %}

<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script>


document.addEventListener('DOMContentLoaded', () => {
  const ctx = document.getElementById('myChart').getContext('2d');

  const invest_data_object = {{ invest_data_object | safe }};
  const miete_data_object  = {{ miete_data_object | safe }};


    x_Ax = []
    for (var i = 0; i < invest_data_object.length; ++i) {
        x_Ax.push(invest_data_object[i].mietobject__name);
    }
const chart = new Chart(ctx, {
    type: 'bar',
    data: {
        datasets: [{
            label: 'Invest',
            data: invest_data_object
        }, {
            label: 'Mieteinnahmen',
            data: miete_data_object,
            backgroundColor: 'rgb(99,206,255)'
        }
        ],
        labels: x_Ax
    },
    options: {

        scales: {
            y: {
                beginAtZero: true

            }
        }
    }
    });
});

document.addEventListener('DOMContentLoaded', () => {
  const ctx = document.getElementById('myChart2').getContext('2d');

  const invest_data_building = {{ invest_data_building | safe }};
  const miete_data_building  = {{ miete_data_building | safe }};

  // Render the chart
        x_Axes = []
    for (var i = 0; i < invest_data_building.length; ++i) {
        x_Axes.push(invest_data_building[i].mietobject__building__name);
    }
    const chart = new Chart(ctx, {
    type: 'bar',
    data: {
        datasets: [{
            label: 'Invest',
            data: invest_data_building
        }, {
            label: 'Mieteinnahmen',
            data: miete_data_building,
            backgroundColor: 'rgb(99,206,255)'
        }
        ],
        labels: x_Axes
    },
    options: {

        scales: {
            y: {
                beginAtZero: true

            }
        }
    }
    });
});

</script>
{% endblock %}

{% block content %}
<!-- Render our chart -->
<div style="width: 80%;">
  <canvas style="margin-bottom: 30px; width: 60%; height: 50%;" id="myChart"></canvas>
</div>
    <div style="width: 80%;">
  <canvas style="margin-bottom: 30px; width: 60%; height: 50%;" id="myChart2"></canvas>
</div>
<!-- Render the rest of the ChangeList view -->



{{ block.super }}
{% endblock %}